C#/Course_And_Grading_System/BackendService/Client/Service References/ServiceReference1/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="accesslevel" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTaskGroupGrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskGroupGrade" nillable="true" type="tns:TaskGroupGrade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskGroupGrade" nillable="true" type="tns:ArrayOfTaskGroupGrade" />
  <xs:complexType name="TaskGroupGrade">
    <xs:sequence>
      <xs:element minOccurs="0" name="expression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="limit" type="xs:int" />
      <xs:element minOccurs="0" name="taskGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskGroupGrade" nillable="true" type="tns:TaskGroupGrade" />
  <xs:complexType name="ArrayOfCourseGrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseGrade" nillable="true" type="tns:CourseGrade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseGrade" nillable="true" type="tns:ArrayOfCourseGrade" />
  <xs:complexType name="CourseGrade">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseId" type="xs:int" />
      <xs:element minOccurs="0" name="expression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="limit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseGrade" nillable="true" type="tns:CourseGrade" />
  <xs:complexType name="UserTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grade" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="reportedBy" type="xs:int" />
      <xs:element minOccurs="0" name="taskId" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTask" nillable="true" type="tns:UserTask" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="period" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="GradedCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" nillable="true" type="tns:Course" />
      <xs:element minOccurs="0" name="gradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gradedTaskGroups" nillable="true" type="tns:ArrayOfGradedTaskGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradedCourse" nillable="true" type="tns:GradedCourse" />
  <xs:complexType name="ArrayOfGradedTaskGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GradedTaskGroup" nillable="true" type="tns:GradedTaskGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGradedTaskGroup" nillable="true" type="tns:ArrayOfGradedTaskGroup" />
  <xs:complexType name="GradedTaskGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="allTasksGraded" type="xs:boolean" />
      <xs:element minOccurs="0" name="allTasksPassed" type="xs:boolean" />
      <xs:element minOccurs="0" name="gradeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taskGroup" nillable="true" type="tns:TaskGroup" />
      <xs:element minOccurs="0" name="tasks" nillable="true" type="tns:ArrayOfGradedTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradedTaskGroup" nillable="true" type="tns:GradedTaskGroup" />
  <xs:complexType name="TaskGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskGroup" nillable="true" type="tns:TaskGroup" />
  <xs:complexType name="ArrayOfGradedTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GradedTask" nillable="true" type="tns:GradedTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGradedTask" nillable="true" type="tns:ArrayOfGradedTask" />
  <xs:complexType name="GradedTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="grade" type="xs:int" />
      <xs:element minOccurs="0" name="gradeType" type="xs:int" />
      <xs:element minOccurs="0" name="taskId" type="xs:int" />
      <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradedTask" nillable="true" type="tns:GradedTask" />
  <xs:complexType name="ArrayOfTaskGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskGroup" nillable="true" type="tns:TaskGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskGroup" nillable="true" type="tns:ArrayOfTaskGroup" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="gradeType" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taskGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfCourseAttentant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseAttentant" nillable="true" type="tns:CourseAttentant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseAttentant" nillable="true" type="tns:ArrayOfCourseAttentant" />
  <xs:complexType name="CourseAttentant">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseAttentant" nillable="true" type="tns:CourseAttentant" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
</xs:schema>